@import "../../assets/styles/variables/colors.scss";

.menu {
    background-color: $primayGray;

    ul {
        list-style-type: none;
        li {
            display: inline;
            padding: 0;
        }
    }

    a {
        text-decoration: none;
    }
}
