.menu {
    background-color: grey;
    padding: 3px;

    ul {
        list-style-type: none;
        li {
            display: inline;
            padding: 0;
        }
    }

    a {
        text-decoration: none;
    }
}
