@import "./styles/variables/colors.scss";

html,
body {
    height: 100%;
}

body {
    margin: 0 !important;
    background-color: $lighterGray !important;
}

a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

a:hover {
    font-weight: bold;
    color: $lightGray !important;
}
